<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>

<style>
body {
    background-color: aliceblue;
}

.logo-menu ul li a {
    color: black;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: -1px 1px 0 white;
}

.about-break {
    color: black;
}
</style>
</head>
<body>
<div class="logo-menu">
    <img src="/static/logowhiteblack.png">
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="give">Give</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
</div>

<div class="about-grid">
    <div>
        <img src="../static/old1.png" style="width:200px" alt="centered">
    </div>
    <div>
        <img src="../static/abouttext1.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/old2.png" style="width:250px" alt="centered">
    </div>
    <div>
        <img src="../static/old3.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/abouttext2.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/old4.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/old5.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/abouttext3.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/old6.png" style="height:200px; width:400px" alt="centered">
    </div>
    <div>
        <img src="../static/old7.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/abouttext4.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/old8.png" style="width:300px" alt="centered">
    </div>
        <div>
        <img src="../static/old9.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/abouttext5.png" style="width:300px" alt="centered">
    </div>
    <div>
        <img src="../static/old10.png" style="width:300px" alt="centered">
    </div>
</div>

<hr class="about-break">
<br>
<div class="footer">

    <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.
        4846284627533!2d-96.29512559999999!3d32.756495199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
        .1!3m3!1m2!1s0x864951c40b98af5b%3A0xb332d820a8e48d43!2sFaith%20Fellowship%20Church%20of%20the%20Nazarene
        !5e1!3m2!1sen!2sus!4v1780185235929!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="info">
        <img src="../static/ffcotnaddressblack.png" style="width:500px" alt="centered">
    </div>
    <div class="footer-facebook">
        <a href="https://www.facebook.com/FaithFellowshipCOTN"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
</body>
</html>