{% extends 'base.html' %}
{% block content %}

    <style>
    body {
        background-color: antiquewhite;
    }
    </style>
<div class="blog-intro">
    <div>
        <H2 class="blog-title">Here's What's Happening At Faith Fellowship Church!</H2>
    </div>
    <br>
    <div>
    <img src="../static/churchfront.png">
    </div>
    </div>
<hr>
<H2 class="blog-header">Our Latest Posts!</H2>
    <br>
    <br>
{#new blog post start just below this#}
    <div class="blog-container">
     <div><img src="../static/entire.png" style="width:400px" alt="centered"></div>
           <div class="blog-text">
      <strong>August 4, 2026</strong>
        The tenet of faith involving entire sanctification is often
               misunderstood. It doesn't mean you are now so clean that
               you are perfect and you will never sin again. It means
               that you have chosen to try and be so close to the Lord
               that you simply don't want to sin anymore. Can you? Yes,
               you can. But you discover that you don't have to, and you
               don't want to.
   </div>
    </div>

     <div class="blog-container">
           <div class="blog-text">
      <strong>August 3, 2026</strong>
        Did I mention how much I love my church family?!
   </div>
     <div><img src="../static/lovechurch.jpg" style="width:400px" alt="centered"></div>
    </div>

    <div class="blog-container">
     <div><img src="../static/prov327.jpg" style="width:400px" alt="centered"></div>
           <div class="blog-text">
      <strong>August 2, 2026</strong>
        Proverbs 3:27 has had a big impact on my life as well. Every time my
               pride wants me to withhold something from someone, these
               words ring in my ear. Bravo conscience! You win.S
   </div>
    </div>


   <div class="blog-container">
           <div class="blog-text">
      <strong>August 1, 2026</strong>
        An author that has had a big impact on my Christian development
        is A.W. Tozer. Especially his book "The Knowledge of the Holy."
        I think every Christian should read this book at least once.
   </div>
     <div><img src="../static/tozer.jpg" style="width:400px" alt="centered"></div>
    </div>

    <div class="blog-container">
     <div><img src="../static/daniel.jpg" style="width:400px" alt="centered"></div>
    <div class="blog-text">
      <strong>July 31, 2026 -</strong>
        It's beginning to come around to the time when people start looking
     for devotionals for the next year. I recommend Daniel, a verse by
     verse mini-commentary, devotional. Packed with information and insights.
   </div>
</div>

    <div class="blog-container">
    <div class="blog-text">
      <strong>July 30, 2026 -</strong>
        Do you struggle with doubt? I did for many years. I tended
        to hedge my bets because I wasn't sure that Christianity
        was real. But then I discovered apologetics!
        <br><br>
        It turns out that Christianity is actually true, whether one
        believes it or not. And the evidence for its truthfulness is
        overwhelming. It actually takes more faith to be an athesit!
   </div>
     <div><img src="../static/doubt.jpg" style="width:400px" alt="centered"></div>
</div>
        <div class="blog-container">
    <div><img src="../static/nervous.jpg" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 29, 2026 -</strong>
        A friend of mine was going to be giving her testimony
     at church and she was really nervous. But I told her to
     just get up there and speak from her heart.
     <br><br>
     Most people don't realize it, but in any public speaking
     scenario, the audience, whether it's your congregation
     or something else, is actually rooting for you. They are
     not sitting out there hoping you'll mess up. Think about
     it. They have to sit through whatever you do. So they
     want it to be good. Therefore, they are rooting for you!
   </div>
</div>

     <div class="blog-container">
    <div class="blog-text">
      <strong>July 28, 2026 -</strong>
        People have a lot of opinions about Mary Magdelene from the
        Bible. First off, the text never says she was a prostitute.
        Second, she did not try to shove her way into Jesus' circle.
        She just simply couldn't stop following Him wherever He went.
        Her devotion is admirable. Third, history tells us that she
        was an apostle to the apostles (read Augustine through Rabanas Mauraa
        and Thomas Aquinas). <br><br>
        She was the first to see Jesus alive after the Resurrection
        simply because she was the first one there. And Jesus sent her
        to tell the others. He sent a woman to proclaim. Imagine that!
   </div>
     <div><img src="../static/marym.jpg" style="width:400px" alt="centered"></div>
</div>
    <div class="blog-container">
    <div><img src="../static/waiting.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 27, 2026 -</strong>
      I believe God wants to move and I am excitedly waiting to see how
     He's going to do it. I am sure it will involve us. I just never
     know exactly how it's going to happen. But I know that it will, and
     I can be a part of it if I am willing to follow Him completely.
   </div>
</div>
    <div class="blog-container">
    <div class="blog-text">
      <strong>July 26, 2026 -</strong>
        Every now and then I go and read the Church of the Nazarene's
        tenets of faith, just to ensure I am still in agreement and
        that I am lining up with them in my life. This one gives me
        comfort
   </div>
     <div><img src="../static/destiny.png" style="width:400px" alt="centered"></div>
</div>
<div class="blog-container">
    <div><img src="../static/birthday.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 25, 2026 -</strong>
        Today is my oldest daughter's birthday. I can't believe I have
     daughters in their forties and nearly adult grandchildren. Where
     did the time go? <br><br>
     As John likes to say, the closer you get to the end of the roll
     of toilet paper, the faster it goes. That is a perfect metaphor
     for life. As a child, the time seemed to drag. Now I can't catch
     up!
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 24, 2026 -</strong>
        A lesson I learned a long time ago that stays with me today is
        that if you finally want something badly enough, you will change
        to get it. But the want of the change has to be greater than the
        desire to remain comfortable where you're at.
   </div>
     <div><img src="../static/lesson.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/confused.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 23, 2026 -</strong>
        This is a touchy subject, but some people believe women can't be
     in any ministry where they are over men, teaching men, preaching to men,
     being in any kind of authority place over men. I don't agree with that.
     <br> </br>
     I believe that a careful reading of the entire Bible, not just five particular
     verses, will show us that women were in authority more than once, and it was
     ordained by God. Deborah, Huldah, Phoebe (clearly a deacon), Priscilla (the teacher
     of Apollos), Junia (an apostle), and more. We must read all of Scripture,
     not just the parts we like.
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 22, 2026 -</strong>
        The Bible is filled with interesting facts and information.
        If you only read it once you miss out on so much, simply because the
        Bible is such a huge book. It's actually sixty-six books put
        together, and it keeps scholars busy for their entire lifetimes!
   </div>
     <div><img src="../static/bookshelf-2.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/journal.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 21, 2026 -</strong>
        Many people feel like they have a novel in them. It's the getting
     started that's hard. My recommendation is this: just start writing. Get
     your basic ideas down on paper, the flow, the action, the basic story line.
     Then go back and rewrite it until it's everything you imagined. As the
     old saying goes, the art of writing is in the rewriting. So True!
 </br>
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 20, 2026 -</strong>
        If you, or someone you love, is in a relationship, then I pray
        that they base that relationship on God. In other words, let
        God be the Lord of the relationship. When both the mand and
        woman submit to what God wants, they will almost automatically
        have their partner's best interests in mind,because that is
        what God wants.
   </div>
     <div><img src="../static/boyfriend.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/childhood.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 19, 2026 -</strong>
        Do you have a fond childhood memory? When it comes into your mind,
     what feelings do you feel? Isn't it amazing that even after decades,
     a single memory can bring us right back in time to that very moment.
     <br><br>
     Atheists will try to explain that we are nothing but animals. Yet animals
     don't experience memory the way we do. How do they explain that?
 </br>
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 18, 2026 -</strong>
        Some people are born with natural talents. They spend their lives
        developing them so that they can become excellent. Others are not
        born with natural talent. But they want something badly enough to
        work hard at it until they also become excellent.
        <br><br>
        Is there something you want, or is there something you truly want
        to be? If it doesn't come naturally, then be willing to work at
        it until you are excellent!
   </div>
     <div><img src="../static/iceskater.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/womanrelaxing.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 17, 2026 -</strong>
        Today is a day of rest for me, as much as possible. I don't believe
     that we must take a Sabbath the way it was for ancient Israel where
     you couldn't do anything at all - no cooking your food, no lighting a
     fire in your house. You couln't go anywhere, and so on.
     <br><br>
     But taking a day every week to slow down and smell the roses. That
     is good for our health and well-being! Thank you, God, for inventing
     the day of rest!
   </div>
</div>

<div class="blog-container">
    <div class="blog-text">
      <strong>July 16, 2026 -</strong>
        I want to give a shoutout to some of the people that
        volunteer their time and resources and energy to ministry
        here at Faith Fellowship. This week I am lifting up Carolyn
        Marshall, our Sunday School and Discipleship Director. She
        works full time and is raising her grandson, yet still finds
        time to give of her time for the kids and for the church
        board. Thank you, Carolyn!
   </div>
     <div><img src="../static/greet5.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/balance.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 15, 2026 -</strong>
        We all have things we want to do. But we all also have things
     we need to do. Sometimes I just want to ignore the things I need
     to do and do the things I want to do. But I know that this will
     come back to bite me later. So I just buckle down and get done the
     things that need to be done.
     <br><br>
     Having said that, though, we must find balance in our lives. It
     can't be all work and no play. Some needful things can wait while
     we rest and recharge by doing the things we want to do. God created
     the Sabbath for man, Jesus told us in Mark 2:27, not man for the
     Sabbath. So go have some fun sometimes!
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 14, 2026 -</strong>
        A book I highly recommend every Christian read at least
        once is A.W. Tozer's small book called "The Knowledge of
        The Holy." Fantastic book on the attributes of God. I keep
        a copy and reread it every now and then. It's one of those
        books that just keeps on giving.
   </div>
     <div><img src="../static/bookshelf.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/notebook.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 13, 2026 -</strong>
        Keeping a journal was never something I did. It would try
     it for a few days, but slowly I drifted off from it. However,
     there was one time in my life when I really focused on growing
     in the Lord. I kept a journal faithfully for a couple of years
     until I felt I had made all of the things I did into such a
     deeply ingrained habit that now it comes naturally.
     <br> <br>
     Do I have bad days? Of course. Do I have days when I don't live
     up to God's standard? Sure. But the bad days are much fewer than
     they were before. I made habits so that I would remain faithful
     without having to think about it. That gives me time to focus
     on learning more about God and getting closer to Him!
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 12, 2026 -</strong>
        In our jobs, we all want to be noticed, and appreciated,
        and even promoted. But it is too easy to try and maneuver
        and manipulate to try and get promoted, rather than rely
        on our skills and on God. We all probably know people that
        do this, the jockey for position and they schmooze and
        scheme to get a raise or promotion, often at the expense of
        others.
        <br> <br>
        As Christians, we should do the very best job we can possibly
        do, work the hardest we can, as if we were working for Jesus
        Himself (which we are). And then trust Him for our rewards
        and appreciation and promotions. It's hard, but there is
        so much peace in just leaving it in God's hands!
   </div>
     <div><img src="../static/office.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/atm.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 11, 2026 -</strong>
        Andy Stanley gave some really good financial advice that has helped
     me a lot. I was never taught anything about money growing up, and
     ended up in a lot of debt. But Stanley said, "Before you buy something
     ask yourself how you're going to feel about it a year from now, or
     five years from now." That alone has guided me in many purchases.
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 10, 2026 -</strong>
        One of my grandchildren has a terrible time with biting
        her nails. She finally said that she wants to quit and
        she is willing to do what she has to, because she wants
        long beautiful nails. So we are trying mittens, hot sauce
        on her fingers, and a few other nasty tasting items. We
        will see how long she lasts.
        <br> <br>
        Breaking habits is hard. It takes about 21 days of consistent
        behavior modification for a habit to be broken. But when we
        finally want it badly enough, it will happen. And we have
        God's help, too. Don't forget to ask for the strength to
        overcome!
   </div>
     <div><img src="../static/bitingnails.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/drawers.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 9, 2026 -</strong>
        After living in our house for 26 years, we are finally updating
     the kitchen. It's been great, and terrible, as it has caused me to
     have to start organizing things a little more.  I used to try and
     organize one thing per day, and that worked great. But when I got
     busy I started missing days, and then weeks, and now it's been months and years.
     <br> <br>
     I never want my spiritual life to be like that! I stay on top
     of things, because I never want my relationship with God to
     get all disorganized and eventually require a complete overhaul!
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 8, 2026 -</strong>
        Are you seeking God about something? Go to prayer and tell Him
        what you are looking for, and then ask Him for it, if it is
        His will. If you wait quietly before Him, clearing your mind
        and focusing on listening, God will speak into your spirit. It
        might happen in moments, or in hours, or days, or weeks. But
        God promises to hear and answer - if we seek we will find.
   </div>
     <div><img src="../static/godwill.png" style="width:400px" alt="centered"></div>
</div>

<div class="blog-container">
    <div><img src="../static/trackmeet.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 7, 2026 -</strong>
        How do you stay motivated? When the going gets tough, most people
        call it quits. But as Christians we need to stay in the fight as
        it were. So how do we stay motivated?
        <br><br>
        I think of Hebrews 12:1-2 that lets us know that Jesus stayed
     motivated because of the joy set before Him: us. Hard to believe
     we are His joy, but we are! Is Jesus your joy? Fixing your eyes
     on Him and simply not looking around at the circumstances is
     the best way to stay motivated.
   </div>
</div>
<div class="blog-container">
    <div class="blog-text">
      <strong>July 6, 2026 -</strong>
        I tried a new recipe for diner last night. It tasted good, but it
     did not look anything like the picture! What can I learn from this?
     Two things, really. First, It turns out I'm not the world's greatest
     cook. That's okay. But second, spiritually, like physically, things
     don't always turn out as we hope or expect. But they ALWAYS turn out
     as God knows they will. And they will still "taste good" spiritually
     speaking, if we have done it out of love for God, for others, and to
     obey His will. So bon appétit!
   </div>
     <div><img src="../static/stovepot.png" style="width:400px" alt="centered"></div>
</div>
<div class="blog-container">
    <div><img src="../static/july5.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 5, 2026 -</strong>
        Someone got creative and decided to celebrate July 5th! That
        poor day doesn't get any respect!
        <br><br>
        In the Lord, however, everyday is special because Jesus is in it!
        I love you, Lord!
   </div>
</div>
<div class="blog-container">
   <div class="blog-text">
   <strong>July 4, 2026 -</strong>
        America turns 250 years old today. Wow! It's an accomplishment.
       The question is, where do we go from here? We have had several
       radical groups trying to transform America from within, and that
       has not been good. But I pray that people, especially Christians,
       are waking up and going to prayer for our nation. God bless
       America!
   </div>
        <div>
        <img src="../static/america250.png" style="width:400px" alt="centered">
    </div>
</div>
<div class="blog-container">
    <div><img src="../static/driedup.png" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 3, 2026 -</strong>
        It is sweltering all over the country today! We can definitely
     tell that summer has arrived. Already the grass is turning brown.
     <br> <br>
     Without Jesus we are like summertime in a drought. We begin to
     wither away from lack of moisture and nutrients. Jesus is like
     rain in the middle of a drought. Praise the Lord!
   </div>
</div>
<div class="blog-container">
   <div class="blog-text">
   <strong>July 2, 2026 -</strong>
        For the first time in 26 years we are remodeling our
       kitchen. It is a small kitchen but it is in great
       need of tender loving care. (This picture is not
       my kitchen. It's just an example of a kitchen.)
       <br> <br>
       It reminds me of me. If I let something go too long
       it starts to fall apart. Not just physically, either.
       If I neglect my spiritual life, pretty soon I won't
       have one. It is important to "remodel" our lives
       every now and then to stay in tune with what
       God is doing.
   </div>
        <div>
        <img src="../static/dreamkitchen.png" style="width:400px" alt="centered">
    </div>
</div>


<div class="blog-container">
    <div><img src="../static/clock.jpg" style="width:400px" alt="centered"></div>
 <div class="blog-text">
      <strong>July 1, 2026 -</strong>
        I can hardly believe that it's already July! It's definitely
     hot enough outside to be July, but it seems like time is going
     by so fast! It's probably because I'm so busy with things. But I
     need to ask myself, are those things important? If so, then I'll
     keep doing them. But if they are not important, then it is time for
     me to slow down a little and take a little more time for the
     important things.
   </div>
</div>

<div class="blog-container">
   <div class="blog-text">
   <strong>June 30, 2026 -</strong>
        Just reflecting on today's verse of the day. No matter how we are
       feeling, or what is going on, we must continue to let our light shine
       so that people will see Jesus.
       <br>
       <br>
       We were dropping the grandkids off to fly to their NYC conference
       and we got a chance to witness to the hotel clerk. God is good!
   </div>
        <div>
        <img src="../static/vdjun30ma516.png" style="width:400px" alt="centered">
    </div>
</div>

<div class="blog-container">
    <div>
        <img src="../static/nyc.png" style="width:400px" alt="centered">
    </div>
   <div class="blog-text">
   <strong>June 29, 2026 -</strong>
        The movie yesterday was great. I highly recommend it.
       <br>
       <br>
       Today we are focusing on getting our two granddaughters ready for
       Nazanare Youth Conference, which begins tomorrow with a flight
       to Salt Lake City, Utah. I am hoping and praying that not only do
       the girls have a good time, but that they meet Jesus truly
       for themselves and that their faith becomes truly their own.

   </div>
</div>
<div class="blog-container">
   <div class="blog-text">
   <strong>June 28, 2026 -</strong>
    We went into Film Alley in Texas and met M.Legend Brown. He has his
       movie premiere for "Where is Your Faith?" I can't wait to see it!

   </div>
        <div>
        <img src="../static/mlegend.png" style="width:400px" alt="centered">
    </div>
</div>

<div class="blog-container">
    <div>
        <img src="../static/fishing.png" style="width:400px" alt="centered">
    </div>
   <div class="blog-text">
   <strong>June 27, 2026 -</strong>
        Today is Saturday, a day wen Jews practice their Sabbath. We
       Protestant Christians should also practice a day of rest. It is
       not 'required' but it is good for the body, mind, and soul.
       <br>
       <br>
       I have a few things I have to do, and several things I want to
       do, so I will do the minimum, and take advantage of a down
       day - a day given to me by God my Father, who loves me so
       much that He even created a day of rest!

   </div>
</div>


<div class="blog-container">
   <div class="blog-text">
   <strong>June 26, 2026 -</strong>
        I have been laughing at the hilarity of the situation surrounding
       the lost giraffe named Gracie down south here in Texas. How do you lose a
       giraffe? And why hasn't an animal that literally towers over
       everything else not yet been found?
       <br>
       <br>
       People have been posting all sorts of funny memes on Facebook showing
       the giraffe sitting and having coffee at a cafe, working a fire
       wtih firemen, sunning himself on the beach, and more! It is
       so interesting how it brings people together!

   </div>
        <div>
        <img src="../static/giraffe.png" style="width:400px" alt="centered">
    </div>
</div>

<div class="blog-container">
    <div>
        <img src="../static/suncameup.png" style="width:400px" alt="centered">
    </div>
   <div class="blog-text">
   <strong>June 25, 2026 -</strong>
    Today is my birthday, and I am just grateful that God has given
       me one more day on this earth that I may serve Him, honor Him,
       and tell others about Him. He is my Lord and Savior. Do you
       know Him?

   </div>
</div>

<div class="blog-container">
   <div class="blog-text">
   <strong>June 24, 2026 -</strong>
        After living in our house for more than 25 years, we are finally
       remodeling the kitchen. My dream kitchen is not the picture
       I added today, but it will be nice to have some new
       counters and an updated look.
       <br>
       <br>
       It is kind of like our hearts. We get used to the old, dilapidated
       look and feel. We are comfortable. But it is time to update
       our relationship with Jesus and make it fresh and new again.
   </div>
        <div>
        <img src="../static/dreamkitchen.png" style="width:400px" alt="centered">
    </div>
</div>
<div class="blog-container">
    <div>
        <img src="../static/blueberries.png" style="width:400px" alt="centered">
    </div>
   <div class="blog-text">
   <strong>June 23, 2026 -</strong>
        Woke up to storms again this morning. Now it's like a sauna
       outside. But my garden is loving it! I am growing bluerberries
       this year, among other things, and I am so pleased that they are
       producing! My husband loves blueberries.
   </div>

</div>
<div class="blog-container">
   <div class="blog-text">
   <strong>June 22, 2026 -</strong>
        I have two granddaughters with birthdays real close to each other, so last night
       we took them to Medieval Times for dinner and a show. It was fantastic, but the
       part that stole the show was the falcon they released to fly over the crowd. It
       was a nearly a spiritual experience. The place is a little pricey, but the
       show is great. The kids loved every minute of it.
   </div>
    <div>
        <img src="../static/mt.png" style="width:400px" alt="centered">
    </div>
</div>
<div class="blog-container">
      <div>
        <img src="../static/swallows.png" style="width:400px" alt="centered">
    </div>
   <div class="blog-text">
   <strong>June 21, 2026 -</strong>
        I went outside today to change the water for the horses and a little barn swallow started
       dive-bombing me. I looked around, and sure enough, he or she had built a nest right above
       my outside faucet. There sat two baby swallows, just looking at me with that funny
       expression barn swallows have because of the way their mouths are shaped. LOL. Anyway,
       I got the horse water tank cleaned and changed and left the little birds to their
       parents. So cute!
   </div>
</div>

<hr>


<div class="about-title"><a href="https://faithfellowshipterrell.org/archive">
    <img src="../static/archives.png" style="width:300px" alt="centered"></a>
</div>
<hr>


<hr class="blog-break">
<br>
<div class="footer">

    <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.
        4846284627533!2d-96.29512559999999!3d32.756495199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
        .1!3m3!1m2!1s0x864951c40b98af5b%3A0xb332d820a8e48d43!2sFaith%20Fellowship%20Church%20of%20the%20Nazarene
        !5e1!3m2!1sen!2sus!4v1780185235929!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="info">
        <img src="../static/ffcotnaddressblack.png" style="width:500px" alt="centered">
    </div>
        <div class="info">
        <img src="../static/servicetimeblack.png" style="width:500px" alt="centered">
    </div>
    <div class="footer-facebook">
        <a href="https://www.facebook.com/FaithFellowshipCOTN" target="_blank" rel="noopener noreferrer"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
{% endblock content %}