<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>

<style>
body {
    background-color: antiquewhite;
}
</style>
</head>
<body>
<div class="logo-and-menu-dark-on-light">
    <div>
    <a href="https://faithfellowshipterrell.org">
        <img src="../static/ffcotnblackonly.png" class="justlogo" alt="centered"></a>
    </div>
    <div class="spacer">

    </div>
    <div>
    <ul>
{#      <li><a href="home">Home</a></li>#}
      <li><a href="about">About</a></li>
      <li><a href="give">Give</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="daily-verse">Daily Verse</a></li>
      <li><a href="blog">Blog</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    </div>
</div>
<div class="blog-intro">
    <div>
        <H2 class="blog-title">Here's What's Happening At Faith Fellowship Church!</H2>
    </div>
    <br>
    <div>
    <img src="../static/churchfront.png">
    </div>
    </div>
<hr>
<H2 class="blog-header">Our Latest Posts!</H2>
    <br>
    <br>
{#new blog post start just below this#}
   <div class="blog-container">
    <div>
        <img src="../static/biblemusic.png" alt="centered">
    </div>
    <div class="blog-text">
        <strong>June 9, 2026 -</strong>
        I woke up this morning with a song on my lips. I am not sure what
        triggered it, but I have been rolling it over in my head and
        meditating on it. Has God ever put a song in your heart that
        you just can't stop singing? I love when that happens. God
        is so good to us, isn't He?
    </div>
</div>
<hr>

   <div class="blog-container">
    <div>
        <img src="../static/worship1.png" alt="centered">
    </div>
    <div class="blog-text">
        <strong>June 8, 2026 -</strong>
        I am finally getting the website up and running. I have built this myself, and
        please be gracious. I am learning as I go. But I am having a lot of fun!
        More improvements in the future. But for now at least it's running!
    </div>
</div>
<hr>
    <H2 class="blog-header">A Few Older Posts From Our Other Site!</H2>
    <br>
    <br>
<div class="blog-container">
    <div>
        <img src="../static/springflowers.png" alt="centered">
    </div>
    <div class="blog-text">
        <strong>May 15, 2026 -</strong>
        Clean up time at the church building, and one of the things I've always wanted
        to do was plant some flowers under the cross outside. What do you think?
    </div>
</div>
<hr>

    <div class="blog-container">
        <div class="blog-text">
        <strong>April 1, 2026 -</strong>
        We are getting ready to celebrate Easter!
        We have an Easter morning breakfast pot luck,
        followed by an egg hunt for the kids. Then we have a rousing
        service and everyone goes home to celebrate the rest of the day
        with their families.
            <br>
            <br>
            I love Easter Day! It is the day that Jesus rose again
            to new life, and made it possible for us to also live
            forever with Him. The Resurrection is a fact of history
            that simply can't be refuted. Jesus has Risen!
    </div>
    <div>
        <img src="../static/risencross.png" alt="centered">
    </div>
</div>
<hr>
<div class="blog-container">
    <div>
        <img src="../static/cotngoldlogo.png" alt="centered">
    </div>
    <div class="blog-text">
        <strong>March 15, 2026 -</strong>
        What does the name "The Church of the Nazarene mean? Jesus, our Lord and Savior
        is the Nazarene. We are the people of Jesus - we are the church of the "Nazarene"
        Himself. We sometimes call ourselves "Nazarenes" but that is not strictly correct.
        We are of the same beliefs as THE Nazarene - Jesus. But we are not THE Nazarene.
        We are His followers.
        <br>
        <br>
        The Church of the Nazarene is a holiness church in the Wesleyan tradition. We beleive
        in the same things that were taught by John Wesley and the Methodists of the 18th
        century. We take our holiness seriously, and we wish for all people to do the
        same. But we are not judgmental. We are saved by grace alone like every Christian.
    </div>
</div>
<hr>
<div class="blog-container">
        <div class="blog-text">
        <strong>February 21, 2026 -</strong>
        This little church is so cute! It was handmade by one of the original members of the church.
        We use it for our Alabaster offerings. Alabaster is celebrated in both February and
        October, and we take offerings and give it to the compassionate ministries arm of the
        Church of the Nazarene so that they can distribute it to those needing funds for
        buildings and other building projects all over the world!
    </div>
    <div>
        <img src="../static/Alabaster%20ChurchAgain.png" alt="centered">
    </div>
</div>
<hr>
<div class="blog-container">
    <div>
        <img src="../static/crosses.png" class="specialcross" alt="centered">
    </div>
    <div class="blog-text">
        <strong>February 1, 2026 -</strong>
        Five years today I began as pastor at Faith Fellowship.
        What a journey it has been! I love this church and all the people.
        The time seems to be going by so fast. Before I know it, it will be six years!
        <br>
        <br>
        The crosses pictured here are on the wall of the fellowship hall. Over the decades
        people have brought in crosses that have personal meaning, and hung them on the wall.
        I hung one up about three years ago after much thought and prayer. Beautiful!
    </div>
</div>

<hr class="blog-break">
<br>
<div class="footer">

    <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.
        4846284627533!2d-96.29512559999999!3d32.756495199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
        .1!3m3!1m2!1s0x864951c40b98af5b%3A0xb332d820a8e48d43!2sFaith%20Fellowship%20Church%20of%20the%20Nazarene
        !5e1!3m2!1sen!2sus!4v1780185235929!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="info">
        <img src="../static/ffcotnaddressblack.png" style="width:500px" alt="centered">
    </div>
    <div class="footer-facebook">
        <a href="https://www.facebook.com/FaithFellowshipCOTN"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
</body>
</html>