<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>

<style>
body {
    background-color: aliceblue;
}
</style>
</head>
<body>

<div class="logo-and-menu-dark-on-light">
    <div>
    <a href="https://faithfellowshipterrell.org">
        <img src="../static/ffcotnblackonly.png" class="justlogo" alt="centered"></a>
    </div>
    <div class="spacer">

    </div>
    <div>
    <ul>
{#      <li><a href="home">Home</a></li>#}
      <li><a href="about">About</a></li>
      <li><a href="give">Give</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="daily-verse">Daily Verse</a></li>
      <li><a href="blog">Blog</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    </div>
</div>
<div class="daily-verse-header">
    <h1><strong>Your Daily Verse</strong></h1>
</div>
<div class="featured-verse">
    <div class="spacer"></div>
    <div><img src="../static/vps8410.png" style="width: 400px"></div>
    <div class="spacer"></div>
</div>
<div class="daily-verse-header">
    <h2><strong>More Daily Verses</strong></h2>
</div>

<div class="verse-container">
    <div><img src="../static/vec31.png" class="single-verse"></div>
    <div><img src="../static/vps10423.png" class="single-verse"></div>
    <div><img src="../static/vis408.png" class="single-verse"></div>
    <div><img src="../static/vps7325.png" class="single-verse"></div>
    <div><img src="../static/vjn114.png" class="single-verse"></div>
    <div><img src="../static/vpr2528.png" class="single-verse"></div>
    <div><img src="../static/vlk246.png" class="single-verse"></div>
    <div><img src="../static/vps182.png" class="single-verse"></div>
    <div><img src="../static/vps12745.png" class="single-verse"></div>
    <div><img src="../static/vps5010.png" class="single-verse"></div>
    <div><img src="../static/vph256.png" class="single-verse"></div>
    <div><img src="../static/vla32223.png" class="single-verse"></div>
</div>



<hr class="about-break">
<br>
<div class="footer">

    <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.
        4846284627533!2d-96.29512559999999!3d32.756495199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
        .1!3m3!1m2!1s0x864951c40b98af5b%3A0xb332d820a8e48d43!2sFaith%20Fellowship%20Church%20of%20the%20Nazarene
        !5e1!3m2!1sen!2sus!4v1780185235929!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="info">
        <img src="../static/ffcotnaddressblack.png" style="width:500px" alt="centered">
    </div>
    <div class="footer-facebook">
        <a href="https://www.facebook.com/FaithFellowshipCOTN"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
</body>
</html>