<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>


</head>
<body>
<div class="logo-menu">
    <img src="/static/ffcotnlogo.png" alt="centered">
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="give">Give</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
</div>
<div class="homeimage">
    <img src="../static/worship1.png">
</div>

<span class="hometextoverlay">
    <H1 class="hometext">Worship and the Word</H1>
<H1 class="hometext">Following Jesus All the Way!</H1>
</span>

<div class="hero-cards">
  <div>
    <a href="https://faithfellowshipterrell/what-we-believe/"><img src="../static/whatwebelieve.png" style="width:300px" alt="centered"></a>
  </div>
  <div>
    <a href="https://www.facebook.com/FaithFellowshipCOTN"><img src="../static/followusbtn.png" style="width:300px" alt="centered"></a>
  </div>
  <div>
    <a href="http://serenitycorner.org"><img src="../static/serenitybutton.png" style="width:300px" alt="centered"></a>
  </div>
</div>

<div class="biblestudy">
  <div>
    <img src="../static/acts.png">
  </div>
</div>

<div class="footer">

    <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.
        4846284627533!2d-96.29512559999999!3d32.756495199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
        .1!3m3!1m2!1s0x864951c40b98af5b%3A0xb332d820a8e48d43!2sFaith%20Fellowship%20Church%20of%20the%20Nazarene
        !5e1!3m2!1sen!2sus!4v1780185235929!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="info">
        <img src="../static/ffcotnaddress.png" style="width:500px" alt="centered">
    </div>
    <div class="footer-facebook">
        <a href="https://www.facebook.com/FaithFellowshipCOTN"><img src="../static/footerfacebook.png" style="width:300px"></a>
    </div>
</div>
</body>
</html>