{% extends 'base.html' %}
{% block content %}

<style>

</style>
<div class="homeimage">
    <img src="../static/worship1.png" alt="centered">
</div>

<span class="hometextoverlay">
    <H1 class="hometext">Worship and the Word</H1>
    <H1 class="hometext">Following Jesus All the Way!</H1>
    <div class="hero-cards">
        <div>
        <a href="https://faithfellowshipterrell.org/believe" target="_blank" rel="noopener noreferrer">
            <img src="../static/whatwebelieve.png" style="width:300px" alt="centered"></a>
        </div>
        <div>
        <a href="https://www.facebook.com/FaithFellowshipCOTN" target="_blank" rel="noopener noreferrer"><img src="../static/followusbtn.png" style="width:300px" alt="centered"></a>
        </div>
        <div>
        <a href="https://faithfellowshipterrell.org/staff" target="_blank" rel="noopener noreferrer"><img src="../static/meetstaff.png" style="width:300px" alt="centered"></a>
        </div>
        <div>
        <a href="https://www.serenity-corner.org/" target="_blank" rel="noopener noreferrer"><img src="../static/serenitybutton.png" style="width:300px" alt="centered"></a>
        </div>
    </div>
</span>

<div class="biblestudy">
  <div>
      <a href="https://faithfellowshipterrell.org/studies" target="_blank" rel="noopener noreferrer"><img src="../static/acts.png"></a>
  </div>
</div>

<div class="footer">

    <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.
        4846284627533!2d-96.29512559999999!3d32.756495199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
        .1!3m3!1m2!1s0x864951c40b98af5b%3A0xb332d820a8e48d43!2sFaith%20Fellowship%20Church%20of%20the%20Nazarene
        !5e1!3m2!1sen!2sus!4v1780185235929!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="info">
        <img src="../static/ffcotnaddressblack.png" style="width:500px" alt="centered">
    </div>
    <div class="info">
        <img src="../static/servicetimeblack.png" style="width:500px" alt="centered">
    </div>
    <div class="footer-facebook">
        <a href="https://www.facebook.com/FaithFellowshipCOTN" target="_blank" rel="noopener noreferrer"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
{% endblock content %}