<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>

<style>
    body {
        background-color: rgba(27, 23, 25, 0.8);
    }
</style>
</head>
<body>
<div class="logo-menu">
    <img src="/static/ffcotnlogo.png">
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="give">Give</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
</div>
<br>

{#<div class="goodlinks">#}
{#    <a href="https://faithfellowshipterrell.org/home/" class="goodlinks-item">Home &nbsp>&nbsp</a>#}
{#    <a href="https://faithfellowshipterrell.org/studies/" class="goodlinks-item-active">&nbspStudies</a>#}
{#</div>#}

<div class="bible-study-headline">
    <H1>Weekly Bible Study</H1>
    <h2>Wednesdays at 1 PM</h2>
</div>

<div class="current-study">
    <div>
        <img src="../static/acts.png" class="acts-study-pic" style="width:500px">
    </div>
    <div class="studies-text">
        <h1>The Book of Acts</h1>
        <h2>The book of Acts is an exciting journey through the eyes of the early church fathers.<br>
        The story begins in Jerusalem with Peter and the other apostles being baptized in the <br>
        Holy Spirit and preaching to the crowds, converting many.<br>
            <br>
        The reader follows as the apostles move outward. We first follow Peter, then Philip, <br>
            and finally the apostle Paul. Told from the pen of the beloved physician Luke, <br>
            Acts is a real page turner!</h2>
        <br>
        <hr>
</div>
</div>
    <br>
    <div class="study-books">
        <div>
            <h2>In this study, we are using Dr. Sieffert's four-part, verse-by-verse commentary on Acts.</h2>
        </div>
        <div>
        <a href="https://www.amazon.com/Meditations-Acts-Part-One-Chapters/dp/B0DFBV9VVB/">
            <img src="../static/actsgroup.png" style="width:700px" alt="centered"></a>
        </div>
</div>
<hr>
<br>
<br>









<div class="footer">

    <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.
        4846284627533!2d-96.29512559999999!3d32.756495199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
        .1!3m3!1m2!1s0x864951c40b98af5b%3A0xb332d820a8e48d43!2sFaith%20Fellowship%20Church%20of%20the%20Nazarene
        !5e1!3m2!1sen!2sus!4v1780185235929!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="info">
        <img src="../static/ffcotnaddressblack.png" style="width:500px" alt="centered">
    </div>
    <div class="footer-facebook">
        <a href="https://www.facebook.com/FaithFellowshipCOTN"><img src="../static/likeusinblack.png" style="width:300px"></a>
    </div>
</div>
</body>
</html>