<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Story+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>FaithFellowship</title>

<style>

body {
    background-color: black;
}
.believeIntro {
    color: white;
    margin-top: 175px;
}
</style>

</head>
<body>
<div class="logo-menu">
    <a href="https://faithfellowshipterrell.org"><img src="../static/ffcotnblackwhite.png" style="width:100px;"></a>
    <ul>
{#      <li><a href="home">Home</a></li>#}
      <li><a href="about">About</a></li>
      <li><a href="give">Give</a></li>
      <li><a href="watch">Watch</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    </div>

<div class="believeIntro">
    <H1>Explore Our Sermons</H1>
    <H2>This year's theme: "The Psalms in the New Testament"</H2>
</div>
<br>
    <div class="vid-container">

        <div><a href="https://youtu.be/KoeQKE6C7HA?si=VoQSw3zn8BCKFb_-">
            <img src="../static/triumphant.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/fCcl6rKrSUM?si=nYrimAt0uKDPx1Zt">
              <img src="../static/spultimate.png" style="height:350px; width:400px" alt="centered"></a></div>
       <div><a href="https://youtu.be/gLX7thvHGpM?si=YQFq_kI2cjW5mzn6">
            <img src="../static/spsosaved.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/lUGs20qr9mg?si=D4YrvVC_Kw8YNV1u">
            <img src="../static/spmom.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/65xE7xDJ8k4?si=wmAFf5RTFQMN4JNS">
            <img src="../static/spredeemed.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/nntw7L3VXLM?si=_l2JWemtHNUQ5kX7">
            <img src="../static/spwaiting.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/X45uB56_0yU?si=l1FY64qSTEVBXZeJ">
            <img src="../static/spwhynot.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/rTqPpM89m2A?si=XZf6zKm-4iUSUcCE">
            <img src="../static/speaster.png" style="height:350px; width:400px" alt="centered"></a></div>
        <div><a href="https://youtu.be/bCXriFOCpDY?si=jigu9yJIySHIJPwk">
            <img src="../static/spcross.png" style="height:350px; width:400px" alt="centered"></a></div>
        
       </div>
<br>
<div>
    <H2 class="watchOutro">For more sermons, check out our <a href="https://www.youtube.com/@faithfellowshiptechnology6283">YouTube Channel</a>a here.</H2>
</div>
<br>
<hr>
<br>

<div class="footer">

    <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.
        4846284627533!2d-96.29512559999999!3d32.756495199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
        .1!3m3!1m2!1s0x864951c40b98af5b%3A0xb332d820a8e48d43!2sFaith%20Fellowship%20Church%20of%20the%20Nazarene
        !5e1!3m2!1sen!2sus!4v1780185235929!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="info">
        <img src="../static/ffcotnaddresswhite.png" style="width:500px" alt="centered">
    </div>



    <div class="footer-facebook">
        <a href="https://www.facebook.com/FaithFellowshipCOTN"><img src="../static/likeusinwhite.png" style="width:300px"></a>
    </div>
</div>
</body>
</html>